.buttons-row {
    display: flex;
    flex-direction:row;
    justify-content: center;
}

.buttons-row button {
    background-image: linear-gradient(135deg, #0081FF 0%, #00037A 100%);
    width: 60px;
    height: 60px;
    display: block;
    align-items: center;
    border-radius: 50%;
    border: 0;
    margin: 5px;
    outline: 0;
}

.buttons-row .selected {
    background-image: linear-gradient(135deg, rgb(0, 86, 172) 0%, rgb(0, 1, 78) 100%);
}

.buttons-row button:hover {
    background-image: linear-gradient(135deg, rgb(0, 86, 172) 0%, rgb(0, 1, 78) 100%);
}

.buttons-row button:active {
    background-image: linear-gradient(135deg, rgb(0, 62, 124) 0%, rgb(0, 1, 44) 100%);
}