.circle-parcking-holder {
    height: 700px;
}

.horizontal-bar-holder {
    height: 500px;
}

.waffle-chart-holder {
    height: 500px;
}

.chord-diagram-holder {
    height: 700px;
}

.radar-diagram-holder {
    height: 700px;
}

.pie-chart-holder {
    height: 500px;
}

.timeline--wrapper .pw-timeline {
    margin: 0 auto;
}

.graph-holder .vis-network {
    outline: 0;
}

.graph-holder {
    margin: 0 25%;
}