ul#navbar li {
    display:inline;
    margin: 0 10px 0 10px;
}

ul#navbar li a {
    text-decoration: none;
    color: black;
    font-size: 22px;
}

ul#navbar li a:hover {
    text-decoration: none;
    color: #FFF;
}

ul#navbar {
    padding: 0;
    text-align: center;
}

.nav-holder {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.1);
    min-height: 60px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.26);
}

#logo {
    height: 60px;
    margin: 5px 0 5px 50px;
}