.team-radar-diagram .radar-diagram-holder{
    height: 400px;
}

.team-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: auto;
}

.team-section select {
    width: 400px;
    justify-self: end;
    font-size: 16px;
    font-family: 'Bahnschrift';
    outline: 0;
    border-width: 1px;
    background-color: rgba(255, 255, 255, 0);
}

.team-section select::-webkit-scrollbar {
    width: 5px;
}

.team-section select::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}